root = true

[*.{html,vue,js}]
indent_style = space
indent_size = 2
insert_final_newline = true
charset = utf-8


[*.{css,scss}]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8
